:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Playfair Display", serif;
  --deafault-font: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
h1,
h2,
h3,
.hero p {
  font-family: var(--heading-font);
  text-align: center;
  margin: 0;
}
.hero p {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--deafault-font);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-family: --deafault-font;

  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
img {
  max-width: 100%;
  height: auto;
}
footer {
  font-size: 9px;
  margin: 20px 10px 10px;
  font-family: "Courier New", Courier, monospace;
}
.paragraph-about-me {
  padding: 3%;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.homepage-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.yoga-foto {
  max-width: 100%;
}
.texto-yoga {
  text-align: left;
}

.primary-link {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
}
.primary-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.about-me-container-to-style {
  background-color: var(--secondary-color);
}

.projects-page h1 {
  font-size: 60px;
  margin-top: 80px;
}
#projects-display {
  margin-top: 40px;
}
@media (max-width: 760px) {
  .principal-title {
    font-size: 45px;
  }
  #about {
    font-size: 60px;
  }
  #principal-page-foto {
    display: none;
  }
  .navigation-links {
    margin-top: 0px;
    display: block;
  }
  .primary-link {
    display: block;
    text-align: center;
  }
  .texto-yoga {
    text-align: center;
  }

  .hero h2 {
    line-height: 1.5;
    margin: 20px 24px;
  }
  .homepage-link {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  .homepage-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
  }
  .hero {
    padding: 80px 20px;
  }
}
@media (min-width: 992px) {
  .aboutme p {
    font-size: 25px;
    margin-top: 30px;
  }
}
#selfie-foto {
  border: 7px solid white;
  margin: 15px;
}
#about {
  margin-top: 40px;
}
